body {
    font-family: 'Pretendard';
    word-break: keep-all;
    color: $blackColor;
}


.margin-top {
    margin-top: rem(100);
}

// header
.header {
    width: 100%;
    height: 60px;
    background: $navyColor;
    color: $whiteColor;
    position: sticky;
    top: 0;
    z-index: 100;

    .logo {
        a {
            display: block;
            width: 80px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }

    .header-menu {
        @include flex(center, center, rem(120))
    }
}

// kv section
.kv-sec {
    width: 100%;
    height: rem(600);
    @include flex(center, flex-end);
    position: relative;

    .kv-image-sec {
        width: 100%;
        height: rem(530);
        background-image: url("../assets/images/main/kv_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .kv-image {
        width: rem(500);
        height: rem(600);
        background-image: url("../assets/images/main/kv_image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: rem(150);
        bottom: 0;
    }

    .kv-text {
        position: absolute;
        top: 0;

        span {
            color: $blackColor;
        }

        .kv-title {
            font-size: rem(56);
        }

        .kv-subtitle {
            font-size: rem(36);
            margin-top: rem(130);
            font-weight: 600;
        }

        .kv-desc {
            font-size: rem(20);
            margin-top: rem(50);
        }

        color: $whiteColor;

    }

    .kv-button {
        color: $blackColor;
        background-color: $whiteColor;
        padding: rem(10) rem(30);
        border-radius: rem(30);
        font-size: rem(20);
        margin-top: rem(50);
        border: 2px solid #fff;

        &:hover {
            background-color: #ffffff00;
            color: $whiteColor;
        }
    }

}

.about-sec {

    .side_sect.mo_over {
        width: 100%;
        padding: rem(100) 0;
    }

    .scroll-section {
        display: flex;
        gap: rem(150);
        align-items: flex-start;
    }

    .text-content {
        flex: 1;
    }

    .product-item {
        min-height: 40vh;
        @include flex (start, left);
        flex-direction: column;
        padding-top: rem(200);
        opacity: 0;
        transform: translateY(0);
        transition: opacity 0.8s ease, transform 0.8s ease;

        &:first-child {
            box-sizing: content-box;
            margin-top: 100px;
        }

        &:last-child {
            min-height: auto;
            padding-bottom: calc((100vh - 510px) / 5 * 2);
        }

        h2 {
            font-size: rem(36);
            margin-bottom: rem(30);
            font-weight: 600;
        }

        .desc {
            font-weight: 300;
        }
    }

    .product-item.active {
        opacity: 1;
        transform: translateY(0);
    }

    .product-item.passed {
        opacity: 0;
        transform: translateY(-100px);
    }

    .image-content {
        flex: 1;
        position: sticky;
        top: 0;
        height: 400px;
        top: calc((100vh - 400px) / 2);
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 0 0 0 rem(80);
        overflow: hidden;
        box-shadow: 0 rem(20) rem(60) rgba(0, 0, 0, 0.15);
    }

    .product-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.8s ease;
        @include flex;
    }

    .product-image.active {
        opacity: 1;
    }

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(15, 26, 43, 0.8);
    color: $whiteColor;
    font-size: rem(20);
    font-weight: 600;
    @include flex;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    /* 초기에는 안보이게 */
    transition: opacity 0.2s ease;
}

/* Swiper 기본 */
.tech-sec {
    .swiper {
        width: 100%;
        padding-left: rem(246);
        padding-right: rem(246);
    }

    .swiper-slide {
        width: auto;
        overflow: visible;
        transition: transform 0.3s ease;
    }

    .swiper-slide:hover {
        transform: scale(1.05);
    }

    .swiper-slide:hover .card-info {
        z-index: 10;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 10px; // 글씨 여백

        .card01 {
            width: 320px;
            height: 460px;
            object-fit: cover;
        }

        .card02 {
            width: 490px;
            height: 280px;
            object-fit: cover;
        }
    }

    .card-title {
        margin-top: rem(10);
        font-size: rem(24);
        font-weight: 500;
    }
}



// video section
.video-sec {
    position: relative;
    width: 100%;

    .background {
        position: relative;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            pointer-events: none;
            z-index: 1;
        }
    }

    video {
        width: 100%;
        display: block;
    }

    .video-text {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        color: $whiteColor;
        z-index: 2;
        text-align: left;

        h2 {
            font-size: rem(36);
            font-weight: 600;
        }
    }
}