body {
    font-family: 'Pretendard';
    word-break: keep-all;
}


.margin-top {
    margin-top: rem(100);
}

// header
.header {
    width: 100%;
    height: 60px;
    background: $navyColor;
    color: $whiteColor;

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }

    .header-menu {
        @include flex(center, center, rem(120))
    }
}

// kv section
.kv-sec {
    width: 100%;
    height: rem(773);
    @include flex(center, flex-end);
    position: relative;

    .kv-image-sec {
        width: 100%;
        height: rem(659);
        background-image: url("../assets/images/main/kv_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .kv-image {
        width: rem(620);
        height: rem(763);
        background-image: url("../assets/images/main/kv_image.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: rem(50);
    }

    .kv-text {
        position: absolute;
        top: rem(35);

        span {
            color: $blackColor;
        }

        .kv-title {
            font-size: rem(64);
        }

        .kv-subtitle {
            font-size: rem(36);
            margin-top: rem(283);
            font-weight: 600;
        }

        .kv-desc {
            font-size: rem(20);
            margin-top: rem(50);
        }

        color: $whiteColor;

    }

    .kv-button {
        color: $blackColor;
        background-color: $whiteColor;
        padding: rem(10) rem(30);
        border-radius: rem(30);
        font-size: rem(20);
        margin-top: rem(50);
        border: 2px solid #fff;

        &:hover {
            background-color: #ffffff00;
            color: $whiteColor;
        }
    }

}

.about-sec {

    .container {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .left-content {
        width: 55%;
        box-sizing: border-box;
    }

    .scroll-section {
        min-height: 80vh;
        padding-top: rem(400);
    }

    .about-title {
        font-size: rem(36);
        color: $blackColor;
        margin-bottom: rem(30);
        font-weight: 600;
    }

    .about-desc {
        font-weight: 300;
    }

    .right-image-container {
        width: 45%;
        box-sizing: border-box;
        position: sticky;
        top: 50px;
        height: 100vh;
        @include flex(center, center, rem(120))
    }

    .fixed-image {
        width: 100%;
        height: rem(500);
        object-fit: cover;
        border-radius: rem(0) rem(0) rem(0) rem(80);
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .fade-out {
        opacity: 0;
    }
}