body {
    font-family: 'Pretendard';
    word-break: keep-all;
    color: $blackColor;
}


.margin-top {
    margin-top: rem(100);
}

// header
.header {
    width: 100%;
    height: 60px;
    background: $navyColor;
    color: $whiteColor;
    position: sticky;
    top: 0;
    z-index: 100;

    .logo {
        a {
            display: block;
            width: 80px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }

    .header-menu {
        @include flex(center, center, rem(120));

        li {
            position: relative;

            a {
                text-decoration: none;
                color: $whiteColor;
                position: relative;
                padding: rem(5) 0;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: $whiteColor;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

// kv section
.kv-sec {
    width: 100%;
    height: rem(770);
    position: relative;

    .kv-image-sec {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(700);
        background-image: url("../assets/images/main/kv_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .kv-image {
            position: absolute;
            width: rem(750);
            height: rem(770);
            background-image: url("../assets/images/main/kv_image.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 3%;
            bottom: 0;
        }
    }

    .kv-text {
        position: absolute;
        top: rem(-25);

        span {
            color: $blackColor;
        }

        .kv-title {
            font-size: rem(80);
        }

        .kv-subtitle {
            font-size: rem(40);
            margin-top: rem(250);
            font-weight: 700;
        }

        .kv-desc {
            font-size: rem(24);
            margin-top: rem(50);
        }

        color: $whiteColor;

    }

    .kv-button {
        border: 2px solid #fff;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #ffffff00;
            color: $whiteColor;
        }
    }

    .more-btn {
        font-size: rem(20);
        position: relative;
        display: inline-block;
        color: $whiteColor;
        padding: rem(10) rem(30);
        box-sizing: border-box;
        width: auto;
        border: 2px solid $whiteColor;
        border-radius: rem(30);
        background: transparent;
        transition: all 0.3s ease;
        margin-top: rem(50);

        span {
            color: $whiteColor;
        }

        i {
            position: absolute;
            top: 50%;
            right: rem(25);
            transform: translateY(-50%);
            opacity: 0;
            transition: all 0.3s ease;
        }

        &:hover {
            background-color: $whiteColor;
            padding-right: rem(60);
            color: $blackColor;

            span {
                color: $blackColor;
            }

            i {
                opacity: 1;
            }
        }
    }

}

// about section
.about-sec {
    .about-box {
        @include flex(center, flex-start);
        gap: rem(30);

        .about-text {
            width: 45%;
            padding: rem(30) 0;

            h2 {
                font-size: rem(36);
                font-weight: 700;
                padding-bottom: rem(30);
            }

            .desc {
                font-size: rem(20);
                font-weight: 300;
                padding-bottom: rem(50);
            }

            button {
                padding: rem(10) rem(30);
                font-size: rem(20);
                background-color: $darkgrayColor;
                color: $whiteColor;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $navyColor;
                }
            }
        }

        .about-image {
            width: 55%;
            border-radius: 0 0 0 rem(80);
        }
    }

    .box2 {
        margin-top: rem(100);
        flex-direction: row-reverse;

        .about-text {
            text-align: right;
        }

        .about-image {
            width: 55%;
            border-radius: 0 0 rem(80) 0;
        }
    }
}

// tech section
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: rem(100);
    height: rem(100);
    border-radius: 50%;
    background: rgb(15, 26, 43, 0.8);
    color: $whiteColor;
    font-size: rem(20);
    font-weight: 700;
    @include flex;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.tech-sec {
    .container {
        h2 {
            font-size: rem(36);
            margin-bottom: rem(50);
        }
    }

    .swiper {
        width: 100%;
        overflow: hidden;
    }

    // .swiper-wrapper {
    //     display: flex;
    // }

    .swiper-slide {
        width: auto;
        flex-shrink: 0;
        transition: transform 0.3s ease;
        opacity: 1;
        transform: none;
    }

    .swiper-slide:hover {
        transform: scale(1.05);
    }

    .swiper-slide:hover .card-info {
        z-index: 10;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        .card01 {
            width: 320px;
            height: 460px;
            object-fit: cover;
        }

        .card02 {
            width: 490px;
            height: 280px;
            object-fit: cover;
        }
    }

    .card-title {
        margin-top: rem(10);
        font-size: rem(24);
        font-weight: 600;
    }
}



// global section
.global-sec {
    position: relative;
    width: 100%;
    height: 100vh;

    .background {
        width: 100%;
        height: 100%;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        video {
            width: 100%;
            height: 100%;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.4);
        }
    }

    .container {
        width: 100%;
        max-width: 1484px;
        position: absolute;
        top: rem(100);
        left: 50%;
        transform: translate(-50%);
        z-index: 2;

        .global-text {
            margin-bottom: rem(350);

            h2 {
                font-size: rem(40);
                color: $whiteColor;

                span {
                    color: $primaryColor;
                }
            }

            .desc {
                margin-top: rem(20);
                font-size: rem(18);
                line-height: 1.6;
                color: rgba(255, 255, 255, 0.85);
            }

            .more-btn {
                font-size: rem(14);
                position: relative;
                display: inline-block;
                color: $whiteColor;
                padding: rem(10) rem(30);
                box-sizing: border-box;
                width: auto;
                border: 1px solid $whiteColor;
                border-radius: rem(30);
                background: transparent;
                transition: all 0.3s ease;
                margin-top: rem(20);

                i {
                    position: absolute;
                    top: 50%;
                    right: rem(25); // 버튼 오른쪽 끝
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: all 0.3s ease;
                }

                &:hover {
                    padding-right: rem(60); // 오른쪽 여백 늘려서 화살표 공간 확보

                    i {
                        opacity: 1;
                    }
                }
            }

        }

        .global-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;

            .stat-item {
                // flex: 1;
                text-align: center;

                p {
                    font-size: rem(18);
                    color: $primaryColor;
                }

                .count-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .count {
                        font-size: rem(64);
                        // font-weight: 700;
                        color: $whiteColor;
                        min-width: rem(178);
                        text-align: center;
                    }

                    span {
                        font-size: rem(64);
                        // font-weight: 700;
                        color: $whiteColor;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}


// banner section
@keyframes slideUpClip {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

.banner-sec {
    width: 100%;
    height: 80vh;
    position: relative;

    .banner-bg {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/main/banner.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }

        .banner-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $whiteColor;
            padding: 0 20px;
            z-index: 2;

            /* 텍스트 클리핑 및 초기 상태 설정 */
            .text-clip {
                overflow: hidden;
                /* 텍스트를 자르는 마스크 역할 */
                position: relative;
                line-height: 1.3;
                /* 줄 높이 설정 */

                span {
                    display: block;
                    transform: translateY(100%);
                    /* 초기 상태: 아래로 숨김 */
                }
            }

            h2 {
                font-size: rem(40);
                margin-bottom: rem(50);

                /* h2 활성화 시 애니메이션 및 딜레이 설정 */
                &.animated span {
                    /* duration을 1.5초로 증가 */
                    animation: slideUpClip 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
                    animation-delay: 0.3s;
                }
            }

            p {
                font-size: rem(24);
                font-weight: 300;
                color: $grayColor;

                /* p 활성화 시 애니메이션 및 딜레이 설정 (h2보다 늦게 시작) */
                &.animated span {
                    /* duration을 1.5초로 증가 */
                    animation: slideUpClip 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
                    animation-delay: 0.6s;
                }
            }
        }
    }
}


// footer
.footer {
    background-color: $blackColor;
    color: $whiteColor;
    padding: rem(40) 0;
    font-size: rem(16);

    .footer-flex {
        @include flex(space-between);
        gap: rem(20);
        margin: 0 auto;
        flex-wrap: wrap;
    }

    /* 왼쪽 영역 */
    .footer-left {
        flex: 1;

        .footer-brand p {
            margin-top: rem(10);
            color: #777;
        }

        .footer-contact p {
            margin: rem(10) 0;
        }
    }

    /* 오른쪽 영역 */
    .footer-right {
        flex: 1;
        text-align: right;

        .footer-menu {
            // padding: 0;
            @include flex(right);
            flex-wrap: wrap;
            gap: rem(15);

            li a:hover {
                color: $primaryColor;
            }
        }

        .footer-sns {
            margin: rem(20) 0;

            a {
                margin-right: rem(15);
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }
            }

            img {
                width: rem(25);
                height: rem(25);
            }
        }

        .footer-text {
            font-size: rem(14);
            color: #777;

            a {
                text-decoration: underline;
            }
        }
    }

    /* 모바일 반응형 */
    @media (max-width: 768px) {
        .footer-flex {
            flex-direction: column;
            gap: 30px;
        }
    }
}