body {
    font-family: 'Pretendard';
    word-break: keep-all;
    color: $blackColor;
}


.margin-top {
    margin-top: rem(100);
}

// header
.header {
    width: 100%;
    height: 60px;
    background: $navyColor;
    color: $whiteColor;
    position: sticky;
    top: 0;
    z-index: 100;

    .logo {
        a {
            display: block;
            width: 80px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }

    .header-menu {
        @include flex(center, center, rem(120))
    }
}

// kv section
.kv-sec {
    width: 100%;
    height: rem(770);
    position: relative;

    .kv-image-sec {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(700);
        background-image: url("../assets/images/main/kv_background.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .kv-image {
            position: absolute;
            width: rem(750);
            height: rem(770);
            background-image: url("../assets/images/main/kv_image.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 3%;
            bottom: 0;
        }
    }

    .kv-text {
        position: absolute;
        top: rem(-25);

        span {
            color: $blackColor;
        }

        .kv-title {
            font-size: rem(80);
        }

        .kv-subtitle {
            font-size: rem(40);
            margin-top: rem(250);
            font-weight: 700;
        }

        .kv-desc {
            font-size: rem(24);
            margin-top: rem(50);
        }

        color: $whiteColor;

    }

    .kv-button {
        color: $blackColor;
        background-color: $whiteColor;
        padding: rem(10) rem(30);
        border-radius: rem(30);
        font-size: rem(20);
        margin-top: rem(50);
        border: 2px solid #fff;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: #ffffff00;
            color: $whiteColor;
        }
    }

}

// about section
.about-sec {
    .about-box {
        @include flex(center, flex-start);
        gap: rem(30);

        .about-text {
            width: 45%;
            padding: rem(30) 0;

            h2 {
                font-size: rem(36);
                font-weight: 700;
                padding-bottom: rem(30);
            }

            .desc {
                font-size: rem(20);
                font-weight: 300;
                padding-bottom: rem(50);
            }

            button {
                padding: rem(10) rem(30);
                font-size: rem(20);
                background-color: $darkgrayColor;
                color: $whiteColor;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $navyColor;
                }
            }
        }

        .about-image {
            width: 55%;
            border-radius: 0 0 0 rem(80);
        }
    }

    .box2 {
        margin-top: rem(100);
        flex-direction: row-reverse;

        .about-text {
            text-align: right;
        }

        .about-image {
            width: 55%;
            border-radius: 0 0 rem(80) 0;
        }
    }
}

// tech section
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: rem(100);
    height: rem(100);
    border-radius: 50%;
    background: rgb(15, 26, 43, 0.8);
    color: $whiteColor;
    font-size: rem(20);
    font-weight: 700;
    @include flex;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.tech-sec {
    .container {
        h2 {
            font-size: rem(36);
            margin-bottom: rem(50);
        }
    }

    .swiper {
        width: 100%;
        overflow: hidden;
    }

    // .swiper-wrapper {
    //     display: flex;
    // }

    .swiper-slide {
        width: auto;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .swiper-slide:hover {
        transform: scale(1.05);
    }

    .swiper-slide:hover .card-info {
        z-index: 10;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 10px;

        img {
            display: block;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        .card01 {
            width: 320px;
            height: 460px;
            object-fit: cover;
        }

        .card02 {
            width: 490px;
            height: 280px;
            object-fit: cover;
        }
    }

    .card-title {
        margin-top: rem(10);
        font-size: rem(24);
        font-weight: 600;
    }
}



// global section
.global-sec {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .background {
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        video {
            width: 100%;
            height: 100%;
            // object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
    }

    .container {
        position: absolute;
        top: rem(100);
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        max-width: 1200px;
        z-index: 2;

        .global-text {
            margin-bottom: rem(300);

            h2 {
                font-size: rem(40);
                color: $whiteColor;

                span {
                    color: $primaryColor;
                }
            }

            .desc {
                margin-top: 20px;
                font-size: rem(18);
                line-height: 1.6;
                color: rgba(255, 255, 255, 0.85);
            }
        }

        .global-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;

            .stat-item {
                flex: 1;
                text-align: center;

                p {
                    font-size: rem(16);
                    color: $primaryColor;
                    margin-top: 8px;
                }

                .count {
                    font-size: rem(36);
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
}


// banner section
.banner-sec {
    width: 100%;
    height: 80vh;
    position: relative;

    .banner-bg {
        width: 100%;
        height: 100%;
        background-image: url("../assets/images/main/banner.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .banner-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $whiteColor;
            padding: 0 20px;
            z-index: 2;

            h2 {
                font-size: rem(40);
                margin-bottom: rem(50);
            }

            p {
                font-size: rem(24);
            }
        }
    }
}

// footer section
.footer {
    width: 100%;
    height: 150px;
    background: $blackColor;
    color: $whiteColor;

    .logo {
        a {
            display: block;
            width: 80px;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }
}