* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.3;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
}


input,
select,
button {
    font-family: inherit;
    color: inherit;
}

fieldset {
    border: none;
}

summary {
    list-style: none;
    cursor: pointer;
}