.container {
    width: 100%;
    max-width: 1484px;
    margin: 0 auto;
    padding-left: rem(28);
    padding-right: rem(28);
}

.my-kv-sec {
    width: 100%;
    height: 500px;
    position: relative;

    .image-sec {
        width: 100%;
        height: 100%;
        // background-image: url("../images/sub1/kv_image.jpg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
        }

        .text-sec {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $whiteColor;
            z-index: 1;

            h2 {
                margin-bottom: rem(20);
                font-size: rem(48);
                font-weight: 800;
            }

            p {
                font-size: rem(24);
                font-weight: 300;
            }
        }
    }
}