.container {
    width: 100%;
    max-width: 1484px;
    margin: 0 auto;
    padding-left: rem(28);
    padding-right: rem(28);
}

.my-kv-sec {
    width: 100%;
    height: 50vh;
    position: relative;

    .image-sec {
        width: 100%;
        height: 100%;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.7);
        }

        .text-sec {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: $whiteColor;
            z-index: 1;

            h2 {
                margin-bottom: rem(20);
                font-size: rem(48);
                font-weight: 800;
            }

            p {
                font-size: rem(24);
                font-weight: 300;
            }
        }
    }
}

@media (max-width: 1024px) {
    .my-kv-sec {
        height: 45vh;
        margin-top: rem(75);
    }
}

@media (max-width: 768px) {
    .my-kv-sec {
        .image-sec {
            .text-sec {
                h2 {
                    font-size: rem(36);
                }

                p {
                    font-size: rem(20);
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .my-kv-sec {
        margin-top: rem(60);

        .image-sec {
            .text-sec {
                h2 {
                    font-size: rem(28);
                }

                p {
                    font-size: rem(16);
                }
            }
        }
    }
}