// footer
.footer {
    background-color: $blackColor;
    color: $whiteColor;
    padding: rem(40) 0;
    font-size: rem(16);

    .footer-flex {
        @include flex(space-between, end);
        gap: rem(20);
        margin: 0 auto;
        flex-wrap: wrap;
    }

    /* 왼쪽 영역 */
    .footer-left {
        flex: 1;

        .footer-brand p {
            margin-top: rem(10);
            color: #777;
        }

        .footer-contact p {
            margin-top: rem(10);
        }
    }

    /* 오른쪽 영역 */
    .footer-right {
        flex: 1;
        text-align: right;

        .footer-sns {
            a {
                margin-right: rem(20);
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }
            }

            img {
                width: rem(25);
                height: rem(25);
            }
        }

        .footer-text {
            font-size: rem(14);
            color: #777;

            p {
                margin-top: rem(10);
            }

            a {
                text-decoration: underline;
            }
        }
    }

    /* 모바일 반응형 */
    @media (max-width: 768px) {
        .footer-flex {
            flex-direction: column;
            gap: 30px;
        }

        .footer-left {
            width: 100%;
        }

        .footer-right {
            text-align: left;
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .footer-brand {
            a {
                display: block;
                width: rem(60);
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}