// header
.header {
    width: 100%;
    height: rem(75);
    background: $navyColor;
    color: $whiteColor;
    position: sticky;
    top: 0;
    z-index: 100;

    .logo {
        a {
            display: block;
            width: rem(80);
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex(space-between, center);
    }

    .header-menu {
        @include flex(center, center, rem(120));
        font-size: rem(20);

        li {
            position: relative;

            a {
                text-decoration: none;
                color: $whiteColor;
                position: relative;
                padding: rem(5) 0;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: rem(2);
                    background-color: $whiteColor;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.header-spacer {
    height: rem(100);
}