.tech-kv-sec {
    .image-sec {
        background-image: url("../images/sub2/kv_image.jpg");
        background-position: center;
    }
}


// device section
.device-wrap {
    .swiper {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(60);
    }

    .swiper-slide {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: $grayColor;
        @include flex;
        border-radius: rem(20);
    }

    // arrow
    .swiper-button-prev,
    .swiper-button-next {
        top: 0;
        margin-top: 0;
        transform: translateY(0);
        z-index: 10;
        width: rem(40);
        height: rem(40);
        background-color: transparent;
        color: $blackColor;
        border-radius: 50%;
        border: 1px solid $grayColor;

        &::after {
            font-size: rem(16);
            font-weight: 800;
        }
    }

    /* 다음 버튼: 오른쪽 상단 가장 오른쪽 */
    .swiper-button-next {
        right: 0;
        left: auto;
    }

    /* 이전 버튼: 다음 버튼 왼쪽에 배치 */
    .swiper-button-prev {
        right: rem(60);
        left: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slide01 {
        background-image: url("../images/sub2/device_v-ems.png");
    }

    .slide02 {
        background-image: url("../images/sub2/device_plusepro.png");
    }

    .slide03 {
        background-image: url("../images/sub2/device_neotune.png");
    }

    .slide04 {
        background-image: url("../images/sub2/device_hisonic.png");
    }

    .slide05,
    .slide06,
    .slide07,
    .slide08,
    .slide09 {
        background-image: url("../images/sub2/device_v-ems.png");
    }
}