.vision-kv-sec {
    .image-sec {
        background-image: url("../images/sub4/kv_image.jpg");
        background-position: center;
    }
}

// vision section
.vision-sec {
    .container {
        h4 {
            margin-bottom: rem(30);
            font-size: rem(20);
            font-weight: 300;
        }

        .vision-wrap {
            @include flex;
        }

        .vision-left {
            width: 60%;

            h3 {
                font-size: rem(36);
                font-weight: 600;
            }
        }

        .vision-right {
            width: 40%;
            position: relative;

            img {
                position: absolute;
                top: -30%;
                left: -5%;
            }

            p {
                font-size: rem(20);
                font-weight: 300;
            }
        }
    }
}

// growth section
.growth-sec {
    background-image: url("../images/sub4/vision01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: rem(100) 0;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .container {
        position: relative;
        z-index: 3;
    }

    .growth-box-wrap {
        width: 100%;
        @include flex;
        gap: rem(24);

        .growth-box {
            background: $whiteColor;
            text-align: center;
            padding: rem(50) rem(20);
            flex: 1;
            @include flex;
            flex-direction: column;
            transition: all 0.3s ease;

            &:hover {
                background-color: $navyColor;
                color: $whiteColor;
            }
        }

        h4 {
            font-size: rem(24);
            margin-bottom: rem(20);
            font-weight: 700;
        }

        img {
            margin-bottom: rem(20);
        }

        p {
            font-size: rem(16);
            font-weight: 300;
        }
    }

}

// roadmap-sec
.roadmap-sec {
    .timeline-wrap {
        position: relative;
    }

    .roadmap-step-wrapper {
        position: relative;
        display: flex;
        margin-bottom: 15vh;
        align-items: flex-start;
    }

    .roadmap-step-wrapper::before {
        content: '';
        position: absolute;
        left: 20%;
        top: 0;
        width: rem(2);
        height: 100%;
        background-color: $grayColor;
        z-index: 10;
    }

    .year-pin {
        position: sticky;
        top: rem(100);
        z-index: 20;
        flex-shrink: 0;
        margin-right: 30%;
        color: $blackColor;
        font-size: rem(48);
        font-weight: 700;
    }

    .roadmap-content {
        flex-grow: 1;
        display: block;
        min-height: 40vh;
    }

    .content-block {
        width: 100%;
    }

    .content-block h4 {
        font-size: rem(36);
        font-weight: 600;
        margin-bottom: rem(20);
    }

    .content-block p {
        font-size: rem(20);
        line-height: 1.5;
        color: $darkgrayColor;
        margin-bottom: rem(20);
    }

    .content-block img {
        width: 100%;
        // max-width: 800px;
        height: auto;
        border-radius: rem(10);
    }
}

@media (max-width: 1340px) {
    .growth-sec {
        .growth-box-wrap {
            flex-wrap: wrap;

            .growth-box {
                flex-basis: calc((100% - rem(24) * 1) / 2);
            }
        }
    }
}

@media (max-width: 1300px) {
    .container {
        .vision-wrap {
            width: 100%;
            flex-direction: column;
            justify-content: left;

            .vision-left {
                width: 100%;
                margin-bottom: rem(30);
            }

            .vision-right {
                width: 100%;

                img {
                    left: -2%;
                }
            }
        }

    }
}

@media (max-width: 1024px) {
    .vision-sec {
        .container {
            .vision-left {
                h3 {
                    font-size: rem(32);
                }
            }
        }
    }

    .growth-box {
        pointer-events: none;
    }

    .roadmap-sec {
        .year-pin {
            margin-right: 20%;
            font-size: rem(36);

        }

        .content-block h4 {
            font-size: rem(32);
        }

        .content-block p {
            font-size: rem(20);
        }
    }
}

@media (max-width: 768px) {

    .vision-sec {
        .container {
            .vision-left {
                h3 {
                    font-size: rem(28);
                }
            }

            .vision-right {
                img {
                    top: -15%;
                    left: -2%;
                    width: rem(15);
                }

                p {
                    font-size: rem(16);
                }
            }
        }
    }

    .growth-sec {
        .growth-box-wrap {
            .growth-box {
                pointer-events: none;
            }

            h4 {
                font-size: rem(20);
            }

            img {
                width: rem(80);
            }
        }
    }

    .roadmap-sec {
        .year-pin {
            position: relative !important;
            top: auto !important;
            margin-right: 0;
            margin-bottom: 1rem;
            font-size: rem(28);
            margin-bottom: 0;
        }

        .content-block h4 {
            font-size: rem(28);
        }

        .content-block p {
            font-size: rem(16);
        }
    }

    .roadmap-step-wrapper::before {
        display: none;
    }

    .roadmap-step-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }

    .roadmap-content {
        padding-left: 0;
        border-left: none;
    }
}