.value-kv-sec {
    .image-sec {
        background-image: url("../images/sub3/kv_image.png");
        background-position: bottom;
    }

}

.value-text-area {
    text-align: center;
    margin-bottom: rem(50);

    .value-title {
        font-size: rem(28);

        span {
            font-weight: 700;
            font-size: rme(36);
        }
    }
}

.value-card-wrap {
    @include flex;
    flex-wrap: wrap;
    gap: rem(24);
    width: 100%;
    align-items: stretch;

    .value-card {
        @include flex;
        flex: 1 0 0;
        flex-direction: column;
        text-align: center;
        border: 1px solid $grayColor;
        border-radius: rem(20);
        padding: rem(50) 0;
        min-height: rem(350);

        h5 {
            font-size: rem(24);
            font-weight: 600;

            span {
                font-weight: 300;
                font-size: rem(16);
            }
        }

        p {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
            margin-top: rem(15);
            padding: 0 rem(20);
        }

        &:hover {
            border-color: $navyColor;
            background-color: $navyColor;

            h5 {
                color: $whiteColor;
            }

            p {
                color: $whiteColor;
                opacity: 1;
                max-height: rem(500);
            }
        }
    }
}