.tech-kv-sec {
    .image-sec {
        background-image: url("../images/sub2/kv_image.jpg");
        background-position: center;
    }
}


// device section
.device-wrap {
    .swiper {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(60);
    }

    .swiper-slide {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: $grayColor;
        @include flex;
        border-radius: rem(20);
    }

    // arrow
    .swiper-button-prev,
    .swiper-button-next {
        top: 0;
        margin-top: 0;
        transform: translateY(0);
        z-index: 10;
        width: rem(40);
        height: rem(40);
        background-color: transparent;
        color: $blackColor;
        border-radius: 50%;
        border: 1px solid $grayColor;

        &::after {
            font-size: rem(16);
            font-weight: 800;
        }
    }

    .swiper-button-next {
        right: 0;
        left: auto;
    }

    .swiper-button-prev {
        right: rem(60);
        left: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slide01 {
        background-image: url("../images/sub2/device_v-ems.png");
    }

    .slide02 {
        background-image: url("../images/sub2/device_plusepro.png");
    }

    .slide03 {
        background-image: url("../images/sub2/device_neotune.png");
    }

    .slide04 {
        background-image: url("../images/sub2/device_hisonic.png");
    }

    .slide05,
    .slide06,
    .slide07,
    .slide08,
    .slide09 {
        background-image: url("../images/sub2/device_v-ems.png");
    }
}

// innovation section
.inno-sec {
    background-image: url("../images/sub2/tech01.jpg");
    border-radius: rem(160) rem(160) 0 0;
    padding: rem(100) 0;

    .text-sec {
        text-align: center;
        color: $whiteColor;

        h3 {
            font-size: rem(48);
            font-weight: 700;
            margin-bottom: rem(20);
        }

        .sub-title {
            color: $primaryColor;
            font-size: rem(24);
            font-weight: 600;
            margin-bottom: rem(20);
        }

        p {
            font-weight: 300;
            margin-bottom: rem(50);
        }
    }

    .inno-desc {
        @include flex;
        gap: rem(24);
    }

    .inno-text-wrap {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-image: url("../images/sub2/Polygon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .inno-text {
        width: 100%;
        height: 100%;
        @include flex;
        flex-direction: column;
        color: $whiteColor;
        text-align: center;

        h4 {
            margin-bottom: rem(20);
            font-size: rem(24);
            font-weight: 700;
        }

        p {
            font-weight: 300;
        }
    }
}

// tech-about section
.parallax__item {
    width: 100%;
    height: 100vh;
    position: relative;
    @include flex;

    .tech-about-video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .parallax__item__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: $whiteColor;
        width: 100%;
        text-align: center;

        h3 {
            font-size: rem(36);
            line-height: 1.5;
            margin-bottom: rem(50);
        }

        .scroll {
            animation: scroll-bounce 1.5s ease-in-out infinite;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            i {
                font-size: rem(30);
                display: block;
                margin-bottom: rem(20);
            }
        }


        /* 1. 움직임을 정의하는 @keyframes 규칙 생성 */
        @keyframes scroll-bounce {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(rem(20));
            }

            100% {
                transform: translateY(0);
            }
        }
    }
}

// device-tech section
.device-bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.device-tech-sec {
    .container {
        width: 100%;
        height: 100%;
        @include flex;

        .device-image {
            width: 60%;
            height: 80%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        .device-text {
            width: 40%;
            text-align: center;
        }
    }

    .container-re {
        flex-direction: row-reverse;
        color: $whiteColor;
    }
}


.device01 {
    background-image: url("../images/sub2/tech02.jpg");

    .device01-image {
        background-image: url("../images/sub2/device_v-ems.png");
    }
}

.device02 {
    background-image: url("../images/sub2/tech03.jpg");

    .device02-image {
        background-image: url("../images/sub2/device_plusepro.png");
    }
}

.device03 {
    background-image: url("../images/sub2/tech04.jpg");

    .device03-image {
        background-image: url("../images/sub2/device_neotune.png");
    }
}

.device04 {
    background-image: url("../images/sub2/tech02.jpg");

    .device04-image {
        background-image: url("../images/sub2/device_hisonic.png");
    }
}

// research section
.research-sec {
    width: 100%;
    height: 100vh;
    position: relative;
    @include flex;
    background-image: url("../images/sub2/tech05.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }

    .parallax__item__text {
        z-index: 2;

        h3 {
            font-size: rem(64);
            margin-bottom: rem(20);
        }

        p {
            font-size: rem(28);
            margin-bottom: rem(20);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}