.value-kv-sec {
    .image-sec {
        background-image: url("../images/sub3/kv_image.png");
        background-position: bottom;
    }

}


// value section
.value-text-area {
    text-align: center;
    margin-bottom: rem(50);

    .value-title {
        font-size: rem(28);

        span {
            font-weight: 700;
            font-size: rme(36);
        }
    }
}

.value-card-wrap {
    @include flex;
    // flex-wrap: wrap;
    gap: rem(24);
    width: 100%;
    align-items: stretch;

    .value-card {
        @include flex;
        flex: 1 0 0;
        flex-direction: column;
        text-align: center;
        border: 1px solid $grayColor;
        border-radius: rem(20);
        padding: rem(50) 0;
        min-height: rem(350);

        h5 {
            font-size: rem(24);
            font-weight: 600;

            span {
                font-weight: 300;
                font-size: rem(16);
            }
        }

        p {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
            margin-top: rem(15);
            padding: 0 rem(20);
        }

        &:hover {
            border-color: $navyColor;
            background-color: $navyColor;

            h5 {
                color: $whiteColor;
            }

            p {
                color: $whiteColor;
                opacity: 1;
                max-height: rem(500);
            }
        }
    }
}

// achievement section
.achieve-sec {
    background-image: url("../images/sub3/value01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 80vh;
    position: relative;
    padding: rem(100);

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .container {
        @include flex(center, stretch);
        position: relative;
        z-index: 3;
    }

    .achieve-left {
        width: 45%;
        @include flex;
        flex-direction: column;
        gap: rem(24);
    }

    .achieve-right {
        width: 55%;
        color: #fff;
        text-align: right;

        h3 {
            font-size: rem(36);
            font-weight: 700;
            margin-bottom: rem(30);
        }

        p {
            font-size: rem(20);
        }
    }

    .achieve-box {
        background-color: $whiteColor;
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 70%,
                95% 100%,
                0% 100%);
        width: 100%;
        @include flex(left);
        position: relative;
        overflow: hidden;
        color: $blackColor;
    }

    .achieve-box p {
        padding: rem(30) rem(30);
        font-size: rem(28);
        font-weight: 500;

        span {
            color: $primaryColor;
            font-weight: 700;
        }
    }
}