.tech-kv-sec {
    .image-sec {
        background-image: url("../images/sub2/kv_image.jpg");
        background-position: center;
    }
}


// device section
.device-wrap {
    .swiper {
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(60);
    }

    .swiper-slide {
        width: 100%;
        aspect-ratio: 1 / 1;
        background: $grayColor;
        @include flex;
        border-radius: rem(20);
    }

    // arrow
    .swiper-button-prev,
    .swiper-button-next {
        top: 0;
        margin-top: 0;
        transform: translateY(0);
        z-index: 10;
        width: rem(40);
        height: rem(40);
        background-color: transparent;
        color: $blackColor;
        border-radius: 50%;
        border: 1px solid $grayColor;

        &::after {
            font-size: rem(16);
            font-weight: 800;
        }
    }

    .swiper-button-next {
        right: 0;
        left: auto;
    }

    .swiper-button-prev {
        right: rem(60);
        left: auto;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slide01 {
        background-image: url("../images/sub2/device_v-ems.png");
    }

    .slide02 {
        background-image: url("../images/sub2/device_plusepro.png");
    }

    .slide03 {
        background-image: url("../images/sub2/device_neotune.png");
    }

    .slide04 {
        background-image: url("../images/sub2/device_hisonic.png");
    }

    .slide05 {
        background-image: url("../images/sub2/device01.png");
    }

    .slide06 {
        background-image: url("../images/sub2/device02.png");
    }

    .slide07 {
        background-image: url("../images/sub2/device03.png");
    }

    .slide08 {
        background-image: url("../images/sub2/device04.png");
    }
}

// innovation section
.inno-sec {
    background-image: url("../images/sub2/tech01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: rem(160) rem(160) 0 0;
    padding: rem(100) 0;

    .text-sec {
        text-align: center;
        color: $whiteColor;

        h3 {
            font-size: rem(48);
            font-weight: 700;
            margin-bottom: rem(20);
        }

        .sub-title {
            color: $primaryColor;
            font-size: rem(24);
            font-weight: 600;
            margin-bottom: rem(20);
        }

        p {
            font-weight: 300;
            margin-bottom: rem(50);
        }
    }

    .inno-desc {
        @include flex;
        gap: rem(24);
    }

    .inno-text-wrap {
        width: 100%;
        aspect-ratio: 1 / 1;
        background-image: url("../images/sub2/Polygon.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .inno-text {
        width: 100%;
        height: 100%;
        @include flex;
        flex-direction: column;
        color: $whiteColor;
        text-align: center;

        h4 {
            margin-bottom: rem(20);
            font-size: rem(24);
            font-weight: 700;
        }

        p {
            font-weight: 300;

            br {
                display: none;
            }
        }
    }
}

// tech-about section
.tech-about-section {
    width: 100%;
    position: relative;

    .tech-about-video {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        display: block;
        z-index: 0;
    }

    .tech-about-content {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 2;
        @include flex;
    }

    .tech-about__text {
        color: $whiteColor;
        width: 100%;
        text-align: center;

        h3 {
            font-size: rem(36);
            line-height: 1.5;
        }
    }
}

// device-tech section
.device-bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.device-tech-sec {
    width: 100%;
    height: 100vh;
    overflow: hidden; // 필수: 수평으로 넘치는 것을 가립니다.
    position: relative; // pin을 위한 준비

    .horizontal-wrap {
        // 2. 모든 슬라이드 콘텐츠를 담는 래퍼
        width: 400vw; // 4개의 device-bg(100vw * 4)를 담을 수 있도록 너비 설정
        height: 100%;
        display: flex; // 필수: 하위 요소들을 수평으로 정렬
        flex-wrap: nowrap;
    }

    .device-bg {
        // 3. 각 콘텐츠(슬라이드)는 뷰포트 너비를 가집니다.
        width: 100vw; // 100%가 아닌 100vw (뷰포트 너비)
        height: 100vh;
        flex-shrink: 0; // 필수: 줄어들지 않도록 설정
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        width: 100%;
        height: 100%;
        @include flex;

        .device-image {
            width: 50%;
            height: 80%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

    }

    .container-re {
        flex-direction: row-reverse;
    }

    .device-text {
        text-align: right;
        width: 50%;

        h3 {
            font-size: rem(64);
            font-weight: 700;
            margin-bottom: rem(50);
        }

        p {
            font-size: rem(24);
            margin-bottom: rem(50);
        }

        .desc {
            font-size: rem(36);
            font-weight: 700;
            margin-bottom: rem(50);
        }
    }

    .device-video {
        img {
            width: 30%;
            height: auto;
        }
    }
}


.device01 {
    background-image: url("../images/sub2/tech02.jpg");

    .device01-image {
        background-image: url("../images/sub2/device_v-ems.png");
    }
}

.device02 {
    background-image: url("../images/sub2/tech03.jpg");

    .device02-image {
        background-image: url("../images/sub2/device_plusepro.png");
    }

    .device-text {
        text-align: left;
        color: $whiteColor;
    }
}

.device03 {
    background-image: url("../images/sub2/tech04.jpg");

    .device03-image {
        background-image: url("../images/sub2/device_neotune.png");
    }

    .device-text {
        color: $whiteColor;
    }
}

.device04 {
    background-image: url("../images/sub2/tech02.jpg");

    .device04-image {
        background-image: url("../images/sub2/device_hisonic.png");
    }

    .device-text {
        text-align: left;
    }
}

// research section
.research-section {
    width: 100%;
    position: relative;

    .research-bg {
        position: sticky;
        top: 0;
        width: 100%;
        height: 100vh;
        background-image: url("../images/sub2/tech05.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        display: block;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }

    .research-content {
        width: 100%;
        height: 100vh;
        position: relative;
        z-index: 2;
        @include flex;
    }

    .research__text {
        color: $whiteColor;
        width: 100%;
        text-align: center;

        h3 {
            font-size: rem(64);
            margin-bottom: rem(20);
        }

        p {
            font-size: rem(28);
            margin-bottom: rem(20);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    .inno-sec {
        .text-sec {
            h3 {
                font-size: rem(36);
            }

            .sub-title {
                font-size: rem(20);
            }
        }

        .inno-text {
            h4 {
                font-size: rem(24);

                span {
                    display: none;
                }
            }

            p {
                br {
                    display: block;
                }
            }
        }
    }

    .tech-about-section {
        .tech-about__text {
            h3 {
                font-size: rem(32);
            }
        }
    }

    .device-tech-sec {
        height: 400vh;

        .horizontal-wrap {
            width: 100%;
            height: 100%;
            display: block;
        }

        .device-bg {
            width: 100%;
            height: 100vh;
            padding: rem(50) 0;
            flex-shrink: 1;
        }

        .container {
            .device-image {
                width: 50%;
                height: 50%;
            }
        }

        .device-text {
            h3 {
                font-size: rem(36);
            }

            p {
                font-size: rem(20);
            }

            .desc {
                font-size: rem(24);
            }
        }
    }

    .research-section {
        .research__text {
            h3 {
                font-size: rem(36);
            }

            p {
                font-size: rem(20);
            }
        }
    }
}

@media (max-width: 768px) {
    .inno-sec {
        border-radius: rem(100) rem(100) 0 0;

        .text-sec {
            h3 {
                font-size: rem(28);
            }

            .sub-title {
                font-size: rem(16);
            }
        }

        .inno-desc {
            @include flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .inno-text-wrap {
            width: calc(50% - rem(12));
        }

        .inno-text-wrap:last-child {
            margin-top: rem(-50);
        }
    }

    .tech-about-section {
        .tech-about__text {
            h3 {
                font-size: rem(28);
            }
        }
    }

    .device-tech-sec {
        .container {
            flex-direction: column;
            justify-content: space-between;

            .device-image {
                width: 100%;
            }
        }

        .device-text {
            width: 100%;
            text-align: left;
            @include flex;
            flex-direction: row-reverse;

            h3 {
                font-size: rem(28);
            }

            p {
                font-size: rem(16);
            }

            .desc {
                font-size: rem(20);
            }

            .device-video {
                width: 40%;
                height: 100%;
                @include flex;

                img {
                    width: 50%;
                    height: 100%;
                }
            }
        }
    }

    .research-section {
        .research__text {
            h3 {
                font-size: rem(28);
            }

            p {
                font-size: rem(16);
            }
        }
    }
}

@media (max-width: 480px) {
    .inno-sec {
        border-radius: rem(50) rem(50) 0 0;

        .text-sec {
            h3 {
                font-size: rem(24);
            }
        }

        .inno-text-wrap {
            width: calc(50% - rem(12)/ 2);
        }

        .inno-text-wrap:last-child {
            margin-top: 0;
        }

        .inno-text {
            h4 {
                font-size: rem(20);
            }

            p {
                font-size: rem(14);
            }
        }
    }

    .tech-about-section {
        .tech-about__text {
            h3 {
                font-size: rem(24);
            }
        }
    }

    .device-tech-sec {
        .container {
            .device-image {
                width: 30%;
                height: 50%;
            }
        }

        .device-text {
            h3 {
                font-size: rem(24);
            }

            p {
                font-size: rem(14);
            }

            .desc {
                font-size: rem(16);
            }
        }
    }

    .research-section {
        .research__text {
            h3 {
                font-size: rem(24);
            }

            p {
                font-size: rem(14);
            }
        }
    }
}