.value-kv-sec {
    .image-sec {
        background-image: url("../images/sub3/kv_image.png");
        background-position: bottom;
    }

}


// value section
.value-text-area {
    text-align: center;
    margin-bottom: rem(50);

    .value-title {
        font-size: rem(28);

        span {
            font-weight: 700;
            font-size: rme(36);
        }
    }
}

.value-card-wrap {
    @include flex;
    flex-wrap: wrap;
    gap: rem(24);
    width: 100%;
    align-items: stretch;

    .value-card {
        @include flex;
        flex: 1 0 0;
        flex-direction: column;
        text-align: center;
        border: 1px solid $grayColor;
        border-radius: rem(20);
        padding: rem(50) 0;
        min-height: rem(400);
        transition: all 0.4s ease-in-out;

        h5 {
            font-size: rem(24);
            font-weight: 600;

            span {
                font-weight: 300;
                font-size: rem(16);
            }
        }

        p {
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 0.4s ease-in-out, max-height 0.4s ease-in-out;
            margin-top: rem(15);
            padding: 0 rem(20);
        }

        &:hover {
            border-color: $navyColor;
            background-color: $navyColor;

            h5 {
                color: $whiteColor;
            }

            p {
                color: $whiteColor;
                opacity: 1;
                max-height: rem(500);
            }
        }
    }
}

// achievement section
.achieve-sec {
    background-image: url("../images/sub3/value01.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    padding: rem(100) 0;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
    }

    .container {
        @include flex(center, stretch);
        position: relative;
        z-index: 3;
    }

    .achieve-left {
        width: 45%;
        @include flex;
        flex-direction: column;
        gap: rem(24);
    }

    .achieve-right {
        width: 55%;
        color: #fff;
        text-align: right;

        h3 {
            font-size: rem(36);
            font-weight: 700;
            margin-bottom: rem(30);
        }

        p {
            font-size: rem(20);
        }
    }

    .achieve-box {
        background-color: $whiteColor;
        clip-path: polygon(0% 0%,
                100% 0%,
                100% 70%,
                95% 100%,
                0% 100%);
        width: 100%;
        @include flex(left);
        position: relative;
        overflow: hidden;
        color: $blackColor;
    }

    .achieve-box p {
        padding: rem(30) rem(30);
        font-size: rem(28);
        font-weight: 500;

        span {
            color: $primaryColor;
            font-weight: 700;
        }
    }
}

@media (max-width: 1300px) {
    .value-sec {
        .icon {
            width: rem(80);
            height: rem(80);
        }
    }

    .achieve-sec {
        .container {
            flex-direction: column-reverse;
        }

        .achieve-left {
            width: 100%;
            @include flex;
            flex-direction: column;
            gap: rem(24);
        }

        .achieve-right {
            width: 100%;
            text-align: left;
            @include flex();
            align-items: flex-end;
            margin-bottom: rem(30);

            h3 {
                width: 50%;
                margin-bottom: 0;
            }

            p {
                width: 50%;
                text-align: right;
            }
        }
    }
}

@media (max-width: 1024px) {
    .value-sec {
        .value-title {
            font-size: rem(24);

            span {
                font-weight: 700;
                font-size: rme(32);
            }
        }
    }

    .value-card-wrap {
        .value-card {
            flex-basis: calc((100% - #{rem(24)} * 2) / 3);
            flex-grow: 0;
            flex-shrink: 0;
            min-height: rem(350);
        }

        // .value-card-wrap .value-card:nth-child(4),
        // .value-card-wrap .value-card:nth-child(5) {
        //     flex-basis: calc((100% - #{rem(24)}) / 2);
        // }

        .value-card-wrap {
            justify-content: center;
        }
    }

    .achieve-sec {
        .achieve-right {
            h3 {
                font-size: rem(32);
            }
        }

        .achieve-box p {
            padding: rem(25) rem(25);
            font-size: rem(20);
            font-weight: 500;

            span {
                color: $primaryColor;
                font-weight: 700;
            }
        }
    }
}

@media(max-width: 768px) {}