.contact-kv-sec {
    .image-sec {
        background-image: url("../images/sub5/kv_image.png");
        background-position: center;
    }
}

.connect {
    width: 100%;

    p {
        font-size: rem(20);
        font-weight: 300;
        margin-bottom: rem(20);
    }

    h3 {
        font-size: rem(36);
        font-weight: 600;
    }
}

.wrap {
    display: flex;
    gap: rem(48);

    .contact-sec {
        width: 50%;

        .form-title {
            margin-bottom: rem(20);

            h2 {
                font-size: rem(20);
                font-weight: 700;
            }

        }

        .form-row {
            display: flex;
            flex-direction: row;
            gap: rem(24);
            margin-bottom: rem(30);
        }

        .company,
        .person,
        .phone,
        .email,
        .message {
            width: 100%;
            padding: rem(15);
            border: 1px solid $grayColor;
            border-radius: rem(10);
            font-size: rem(16);
            font-weight: 300;
            transition: border-color 0.15s;
            outline: none;
        }

        input:focus,
        textarea:focus {
            border-color: $navyColor;
        }

        .message {
            min-height: rem(190);
            max-height: rem(300);
        }

        .submit-button {
            background-color: $navyColor;
            color: $whiteColor;
            padding: rem(15) rem(50);
            border-radius: rem(40);
            transition: background-color 0.2s;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: rem(16);

            &:hover {
                background-color: $darknavyColor;
            }
        }

    }

    .map {
        width: 50%;

        h2 {
            margin-bottom: rem(20);
            font-size: rem(20);
            font-weight: 700;
        }

        .map-list {
            padding: rem(30) 0;
            border-bottom: 1px solid $grayColor;

            p {
                font-size: rem(16);
                padding: rem(10) 0;
            }
        }

        .sns-list {
            display: flex;
            padding: rem(30) 0 0 0;
            gap: rem(20);
        }
    }
}


@media (max-width: 1024px) {
    .wrap {
        flex-direction: column;

        .contact-sec {
            width: 100%;

            .form-row {
                flex-direction: column;
            }

            .form-row input[type="text"],
            .form-row input[type="email"],
            .form-row input[type="tel"] {
                flex: 1;
            }
        }

        .map {
            width: 100%;
        }
    }

}