.contact-kv-sec {
    .image-sec {
        background-image: url("../images/sub5/kv_image.png");
        background-position: center;
    }
}

.wrap {
    display: flex;
    gap: rem(24);
}

.contact-sec {
    width: 50%;
}

.map {
    width: 50%;
}