.about-kv-sec {
    .image-sec {
        background-image: url("../images/sub1/kv_image.jpg");
    }
}

.about-company-sec {

    .container {
        display: flex;
        justify-content: space-between;
    }

    .text-wrap {
        width: rem(600);
    }

    .panel-text {
        width: 100%;
        height: 100vh;
        padding: 10vh 0;
        @include flex;

        .text01 {
            opacity: 1;
        }

        .text02,
        .text03,
        .text04 {
            opacity: 0;
        }
    }

    .text-inner h2 {
        font-size: 36px;
    }

    .sub-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .text-inner h4 {
        font-size: 20px;
    }

    .desc {
        font-size: 20px;
        font-weight: 300;
    }

    .img-container {
        position: sticky;
        top: 0;
        width: 50%;
        height: 100vh;
        max-width: rem(600);
    }

    .img-wrap {
        position: relative;
        margin: 20vh 0;
        width: 100%;
        height: 60vh;
        overflow: hidden;
        border-radius: 0 0 0 rem(80);
        box-shadow: 0 rem(20) rem(60) rgba(0, 0, 0, 0.15);
    }

    .img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .img01 {
        background-image: url("../images/sub1/about_image01.jpg");
        z-index: 4;
    }

    .img02 {
        background-image: url("../images/sub1/about_image02.jpg");
        z-index: 3;
    }

    .img03 {
        background-image: url("../images/sub1/about_image03.jpg");
        z-index: 2;
    }

    .img04 {
        background-image: url("../images/sub1/about_image04.jpg");
        z-index: 1;
    }
}

.about-company-sec-mo {
    display: none;
}

@media (max-width: 1300px) {
    .about-company-sec {
        .text-wrap {
            width: rem(500);
        }
    }
}

@media (max-width: 1300px) {
    .about-company-sec {
        .text-wrap {
            width: rem(400);
        }

        .text-inner h2 {
            font-size: rem(32);
        }

        .sub-title {
            font-size: rem(20);
        }

        .text-inner h4 {
            font-size: rem(18);
        }

        .desc {
            font-size: rem(18);
        }

        .img-wrap {
            margin: 30vh 0;
            height: 45vh;
        }
    }
}

@media (max-width: 950px) {
    .about-company-sec {
        .text-wrap {
            width: rem(300);
        }
    }
}

@media (max-width: 768px) {
    .about-company-sec {
        display: none;
    }

    .margin-bottom {
        margin-bottom: rem(100);
    }

    .about-company-sec-mo {
        display: block;

        .swiper {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 30vh;
            object-fit: cover;
            margin-bottom: rem(20);
        }

        .text-wrap-mo {
            text-align: left;

            h2 {
                font-size: rem(28);
            }

            .sub-title {
                font-size: rem(18);
                margin-bottom: 20px;
            }

            h4 {
                font-size: rem(16);
            }

            .desc {
                font-size: rem(16);
            }
        }
    }
}

@media (max-width: 480px) {
    .about-company-sec-mo {
        .text-wrap-mo {
            h2 {
                font-size: rem(24);
            }

            .sub-title {
                font-size: rem(16);
                margin-bottom: 20px;
            }

            h4 {
                font-size: rem(14);
            }

            .desc {
                font-size: rem(14);
            }
        }
    }
}