        .about-sec {

            .side_sect.mo_over {
                width: 100%;
                padding: rem(100) 0;
            }

            .scroll-section {
                display: flex;
                gap: rem(150);
                align-items: flex-start;
            }

            .text-content {
                flex: 1;
            }

            .product-item {
                min-height: 40vh;
                @include flex (start, left);
                flex-direction: column;
                padding-top: rem(200);
                opacity: 0;
                transform: translateY(0);
                transition: opacity 0.8s ease, transform 0.8s ease;

                &:first-child {
                    box-sizing: content-box;
                    margin-top: 100px;
                }

                &:last-child {
                    min-height: auto;
                    padding-bottom: calc((100vh - 510px) / 5 * 2);
                }

                h2 {
                    font-size: rem(36);
                    margin-bottom: rem(30);
                    font-weight: 600;
                }

                .desc {
                    font-weight: 300;
                }
            }

            .product-item.active {
                opacity: 1;
                transform: translateY(0);
            }

            .product-item.passed {
                opacity: 0;
                transform: translateY(-100px);
            }

            .image-content {
                flex: 1;
                position: sticky;
                top: 0;
                height: 400px;
                top: calc((100vh - 400px) / 2);
            }

            .image-wrapper {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 0 0 0 rem(80);
                overflow: hidden;
                box-shadow: 0 rem(20) rem(60) rgba(0, 0, 0, 0.15);
            }

            .product-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.8s ease;
                @include flex;
            }

            .product-image.active {
                opacity: 1;
            }

            .product-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }